<form class="form" method="POST">
  <h1 class="mb-xs heading-primary">Simple QR-Code Generator</h1>
  <div class="form__group mb-sm">
    <label class="mb-xs">Input link</label>
    <input type="text" name="url" />
  </div>
  <button class="form-btn" type="submit">generate qr</button>
</form>
