<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23000000%22></rect><path fill=%22%23fff%22 d=%22M47.19 45.03L47.19 47.94Q47.19 54.53 45.09 59.30Q43 64.06 39.22 66.75L39.22 66.75L47.34 73.13L43.25 76.91L33.66 69.28Q31.41 69.84 28.91 69.84L28.91 69.84Q23.53 69.84 19.38 67.20Q15.22 64.56 12.92 59.67Q10.63 54.78 10.56 48.34L10.56 48.34L10.56 45.06Q10.56 38.50 12.84 33.47Q15.13 28.44 19.30 25.77Q23.47 23.09 28.84 23.09L28.84 23.09Q34.34 23.09 38.52 25.75Q42.69 28.41 44.94 33.39Q47.19 38.38 47.19 45.03L47.19 45.03ZM41.19 48.38L41.19 45Q41.19 36.97 37.98 32.61Q34.78 28.25 28.84 28.25L28.84 28.25Q23.19 28.25 19.92 32.58Q16.66 36.91 16.56 44.59L16.56 44.59L16.56 47.94Q16.56 55.75 19.83 60.25Q23.09 64.75 28.91 64.75Q34.72 64.75 37.91 60.52Q41.09 56.28 41.19 48.38L41.19 48.38ZM83 69.22L73.13 50.81L62.44 50.81L62.44 69.22L56.41 69.22L56.41 23.72L71.47 23.72Q79.16 23.72 83.30 27.22Q87.44 30.72 87.44 37.41L87.44 37.41Q87.44 41.66 85.14 44.81Q82.84 47.97 78.75 49.53L78.75 49.53L89.44 68.84L89.44 69.22L83 69.22ZM62.44 28.66L62.44 45.91L71.66 45.91Q76.13 45.91 78.77 43.59Q81.41 41.28 81.41 37.41L81.41 37.41Q81.41 33.19 78.89 30.94Q76.38 28.69 71.63 28.66L71.63 28.66L62.44 28.66Z%22></path></svg>"
  />
  <link rel="stylesheet" href="/styles.css" />
  <title>QR-Code</title>
</head>
